%ol.breadcrumb
  = partial "breadcrumb", { compound: clazz }
%h2
  = clazz.html_fully_qualified_name
  %small
    %small
      - if clazz.is_struct?
        = partial "label", { name: "struct" }
      - if clazz.abstract?
        = partial "label", { name: "abstract" }

%p.small
  - if clazz.has_public_super_classes?
    Inherits from
    = html_fully_qualified_names_as_sentence clazz.public_super_classes
    - if clazz.has_public_derived_classes?
      %span.glyphicon.glyphicon-option-vertical
  - if clazz.has_public_derived_classes?
    Inherited by
    = html_fully_qualified_names_as_sentence clazz.public_derived_classes

= partial "description", { describable: clazz }

- if clazz.has_classes?
  = partial 'table',
    { heading: "Classes", items: clazz.classes }

- if clazz.has_public_variables?
  = partial 'table',
    { heading: "Variables", items: clazz.public_variables }

- if clazz.has_public_static_variables?
  = partial 'table',
    { heading: "Static Variables", items: clazz.public_static_variables }

- if clazz.has_public_methods?
  = partial 'table',
    { heading: "Public Member Functions", items: clazz.public_methods }

- if clazz.has_public_static_methods?
  = partial 'table',
    { heading: "Static Public Member Functions", items: clazz.public_static_methods }

- if clazz.has_public_enums?
  = partial 'table',
    { heading: "Public Types", items: clazz.public_enums }

%h2 Documentation

- if clazz.has_public_variables?
  - clazz.public_variables.each do |variable|
    = partial 'variable', { variable: variable }

- if clazz.has_public_static_variables?
  - clazz.public_static_variables.each do |variable|
    = partial 'variable', { variable: variable }

- if clazz.has_public_methods?
  - clazz.public_methods.each do |method|
    = partial 'method', { method: method }

- if clazz.has_public_static_methods?
  - clazz.public_static_methods.each do |method|
    = partial 'method', { method: method }
    
- if clazz.has_public_enums?
  - clazz.public_enums.each do |enum|
    = partial 'enum', { enum: enum }
