%ol.breadcrumb
  = partial "breadcrumb", { compound: clazz }
%h2
  = clazz.html_fully_qualified_name
  %small
    %small
      - if clazz.is_struct?
        = partial "label", { name: "struct" }
      - if clazz.abstract?
        = partial "label", { name: "abstract" }

%p.small
  - if clazz.has_public_super_classes?
    Inherits from
    = html_fully_qualified_names_as_sentence clazz.public_super_classes
    - if clazz.has_public_derived_classes?
      %span.glyphicon.glyphicon-option-vertical
  - if clazz.has_public_derived_classes?
    Inherited by
    = html_fully_qualified_names_as_sentence clazz.public_derived_classes

= partial "compound_common", { compound: clazz }
