= partial "description", { describable: compound }

- if compound.has_classes?
  = partial 'table',
    { heading: "Classes", items: compound.classes }

- if compound.has_public_variables?
  = partial 'table',
    { heading: "Variables", items: compound.public_variables }

- if compound.has_public_static_variables?
  = partial 'table',
    { heading: "Static Variables", items: compound.public_static_variables }

- if compound.has_public_functions?
  = partial 'table',
    { heading: "Public Member Functions", items: compound.public_functions }

- if compound.has_public_static_functions?
  = partial 'table',
    { heading: "Static Public Member Functions", items: compound.public_static_functions }

- if compound.has_public_enums?
  = partial 'table',
    { heading: "Public Types", items: compound.public_enums }

%h2 Documentation

- if compound.has_public_variables?
  - compound.public_variables.each do |variable|
    = partial 'variable', { variable: variable }

- if compound.has_public_static_variables?
  - compound.public_static_variables.each do |variable|
    = partial 'variable', { variable: variable }

- if compound.has_public_functions?
  - compound.public_functions.each do |function|
    = partial 'function', { function: function }

- if compound.has_public_static_functions?
  - compound.public_static_functions.each do |function|
    = partial 'function', { function: function }
    
- if compound.has_public_enums?
  - compound.public_enums.each do |enum|
    = partial 'enum', { enum: enum }