= partial "anchor", { anchor: enum.anchor }
= partial "member_title", { member: enum, labels: "enum" }

- if enum.has_description?
  %h4 Description
  %p
    = enum.html_description

%h4 Values
.table-responsive
  %table.table.table-striped.table-hover
    - enum.public_values.each do |value|
      %tr
        %td
          = partial "anchor", { anchor: value.anchor }
          = value.name
        %td
          - if value.has_brief?
            = value.brief

%hr