!!!
%html
  %head
    %title= title
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "http://getbootstrap.com/examples/dashboard/dashboard.css", rel: "stylesheet"}
    %script{src: "https://code.jquery.com/jquery-2.1.4.min.js"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    :css
      h1 .label, h2 .label, h3 .label, h4 .label, h5 .label {
        vertical-align: top;
      }
      .nav-sidebar>li>a {
        padding: 5px 15px;
      }
      .nav-sidebar hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .nav-sidebar p {
        padding-left: 5px;
      }
      a.anchor {
        display: block;
        position: relative;
        top: -80px;
        visibility: hidden;
      }
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"}
            = title
        .collapse.navbar-collapse#collapse
          %ul.nav.navbar-nav
            - namespaces.each do |namespace|
              = partial "_namespace_dropdown.html.haml", {namespace: namespace}

    .container-fluid
      .row
        .col-sm-4.col-md-3.sidebar
          %ul.nav.nav-sidebar
            - namespaces.each do |namespace|
              %li
                %p.small
                  = namespace.html_qualified_name
              - namespace.classes.each do |clazz|
                %li
                  = clazz.html_name
              %li
                %hr
        .col-sm-8.col-sm-offset-4.col-md-9.col-md-offset-3.main
          %ol.breadcrumb
            = partial "_breadcrumb.html.haml", { compound: compound }
          = yield 
