%ol.breadcrumb
  = partial "breadcrumb", { compound: namespace }
%h2
  = namespace.html_qualified_name

= partial "description", { describable: namespace }

- if namespace.has_namespaces?
  = partial 'table', { heading: "Namespaces", items: namespace.namespaces }

- if namespace.has_classes?
  = partial 'table', { heading: "Classes", items: namespace.classes }

