%h2
  Index

%div
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", href: "#methods", role: "tab"} Methods
    %li
      %a{"data-toggle" => "tab", href: "#enumerations", role: "tab"} Enumerations
    %li
      %a{"data-toggle" => "tab", href: "#enumerators", role: "tab"} Enumerators
    - if index.has_classes?
      %li
        %a{"data-toggle" => "tab", href: "#classes", role: "tab"} Classes
    - if index.has_namespaces?
      %li
        %a{"data-toggle" => "tab", href: "#namespaces", role: "tab"} Namespaces

  .tab-content
    #methods.tab-pane.active{role: "tabpanel"}
      = partial 'grouped_table', { group: index.grouped_methods }

    #enumerations.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.grouped_enumerations }

    #enumerators.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.grouped_enumerators }

    #classes.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.grouped_classes }

    #namespaces.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.grouped_namespaces }
