%h2
  Index

%div
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", href: "#functions", role: "tab"} Functions
    %li
      %a{"data-toggle" => "tab", href: "#enumerations", role: "tab"} Enumerations
    %li
      %a{"data-toggle" => "tab", href: "#enumerators", role: "tab"} Enumerators
    %li
      %a{"data-toggle" => "tab", href: "#classes", role: "tab"} Classes
    %li
      %a{"data-toggle" => "tab", href: "#namespaces", role: "tab"} Namespaces
    %li
      %a{"data-toggle" => "tab", href: "#files", role: "tab"} Files
    %li
      %a{"data-toggle" => "tab", href: "#groups", role: "tab"} Groups

  .tab-content
    #functions.tab-pane.active{role: "tabpanel"}
      = partial 'grouped_table', { group: index.indexed_functions }

    #enumerations.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.indexed_enumerations }

    #enumerators.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.indexed_enumerators }

    #classes.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.indexed_classes }

    #namespaces.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.indexed_namespaces }

    #files.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.indexed_files }

    #groups.tab-pane{role: "tabpanel"}
      = partial 'grouped_table', { group: index.indexed_groups }
